<div class="modal-header">
  <h4 class="modal-title">Terms of Service</h4>
</div>
<div class="modal-body">
  <p>Refund Policy:
    We do not offer refunds for shoe purchases. All sales are final.
    Please ensure you have carefully reviewed your order before completing the purchase.
    
    Exchange Policy:
     We may consider exchanges for shoes in exceptional cases such as manufacturing defects or incorrect sizing.
    Exchange requests must be made within [number] days of receiving the shoes.
    Shoes must be in their original condition, unworn, and in their original packaging to be eligible for exchange.
    
    Cancellation Policy:
    Orders cannot be canceled once they have been processed and shipped.
    If you wish to cancel an order, please contact us immediately, and we will do our best to accommodate your request before shipping.

    Shipping Policy: 
    Shipping costs are non-refundable.
    Customers are responsible for return shipping costs in case of exchanges.
    
    Product Condition:
    Shoes must be returned in their original condition, with all tags attached and in their original packaging.
    We reserve the right to refuse exchanges if shoes are not returned in their original condition.
   
    Damaged or Defective Products: 
    In the rare event that you receive a damaged or defective product, please contact us immediately to arrange for a replacement.
    We may require photographic evidence of the damage or defect before processing a replacement.
    
    Non-Transferable:  
    Orders and purchases are non-transferable and cannot be assigned to another party.
    
    Changes to Terms:
    We reserve the right to modify or update these Terms and Conditions at any time without prior notice.
    Any changes will be effective immediately upon posting on our website.
    By completing a purchase on our website, you acknowledge that you have read, understood, and agree to abide by these Terms and Conditions. If you have any questions or concerns, please contact our customer service team before making a purchase.</p>
</div>
<div class="modal-footer">
  <p>VTTP project</p>
  <button type="button" class="btn btn-info" (click)="closeModal()">Close</button>
</div>
