<div class="reset-password">
  <h2 class="title">Change Password</h2>
  <hr>
  <div *ngIf="innerLoading" class="loader">Loading...</div>
  
  <div *ngIf="!innerLoading">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmitResetPassword()" class="password-form">
      <div class="form-section">
        <div class="form-group">
          <label for="oldPassword">Current Password</label>
          <input type="password" id="oldPassword" class="form-control" placeholder="Enter current password"
            formControlName="oldPassword" maxlength="140">
          <div *ngIf="resetPasswordForm.get('oldPassword')?.touched">
            <div *ngIf="resetPasswordForm.get('oldPassword')?.errors?.['required']" class="alert-danger">
              This field is required!
            </div>
            <div *ngIf="resetPasswordForm.get('oldPassword')?.errors?.['minlength']" class="alert-danger">
              The password should at least be 6 digits!
            </div>
          </div>
        </div>
      </div>

      <div class="form-section">
        <div class="form-group">
          <label for="newPassword">New Password</label>
          <input type="password" id="newPassword" class="form-control" placeholder="Enter new password"
            formControlName="newPassword" maxlength="140">
        </div>

        <div class="form-group">
          <label for="newPasswordConfirm">Confirm New Password</label>
          <input type="password" id="newPasswordConfirm" class="form-control" placeholder="Confirm new password"
            formControlName="newPasswordConfirm" maxlength="140">
        </div>

        <div *ngIf="resetPasswordForm.get('newPasswordGroup')?.touched">
          <div *ngIf="resetPasswordForm.get('newPasswordGroup')?.errors?.['noMatch']" class="alert-danger">
            The passwords must match!
          </div>
        </div>
      </div>

      <div class="controls">
        <button class="btn btn-info" type="submit" [disabled]="resetPasswordForm.invalid || resetPasswordForm.pending">
          Update
        </button>
      </div>
    </form>
  </div>
</div>
