.forgot-password {
  position: relative;
  top: 150px;
  min-height: 50vh;
}

.forgot-password.title {
  margin: 0;
  font-weight: bold;
  color: gray;
  font-size: 14px;
}

.forgot-password hr {
  margin: 0;
  padding: 0;
}