<footer class="footer-distributed">

  <div class="footer-left">
    <h3>Shoely<span></span></h3>

    <ul class="footer-links">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/browse">Products</a></li>
      <li><a routerLink="/faq">FAQ</a></li>
    </ul>

    <p class="footer-company-name">Boris &copy; 2024</p>
  </div>

  <!-- Since the center and right parts of the footer have been hidden, they have been removed from the markup for simplicity -->

  <div class="footer-icons">
    <a href="https://www.instagram.com/justaboron/" rel="noopener noreferrer" target="_blank">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="https://www.linkedin.com/in/boris-lee-519a8a178/" rel="noopener noreferrer" target="_blank">
      <i class="fab fa-linkedin-in"></i>
    </a>
    <a href="https://github.com/potatoandfries" rel="noopener noreferrer" target="_blank">
      <i class="fab fa-github"></i>
    </a>
  </div>

</footer>
