<div class="password-forgot-verification container">
  <div class="row">
    <div *ngIf="isVerified === true" class="col-md-6">
      <div class="title">Create a new password</div>
      <form [formGroup]="forgotPasswordResetForm" (submit)="onForgotPasswordResetFormSubmit()" class="p-2 pb-4">
        <div formGroupName="newPasswordGroup">
          
          <!-- newPassword Validation Messages -->
          <div class="form-group">
            <label for="newPassword"></label>
            <input type="password" id="newPassword" class="form-control" placeholder="New Password"
              formControlName="newPassword" [maxlength]="140">
            <span *ngIf="isControlInvalid('newPasswordGroup.newPassword')">
              <span *ngIf="hasControlError('newPasswordGroup.newPassword', 'required')"
                class="alert-danger">This field is required!</span>
              <span *ngIf="hasControlError('newPasswordGroup.newPassword', 'minlength')"
                class="alert-danger">The password should at least be 6 digits!</span>
            </span>
          </div>
          
          <!-- newPasswordConfirm Validation Messages -->
          <div class="form-group">
            <label for="newPasswordConfirm"></label>
            <input type="password" id="newPasswordConfirm" class="form-control" placeholder="New Password Again"
              formControlName="newPasswordConfirm" [maxlength]="140">
            <span *ngIf="isControlInvalid('newPasswordGroup.newPasswordConfirm')">
              <span *ngIf="hasControlError('newPasswordGroup.newPasswordConfirm', 'required')"
                class="alert-danger">This field is required!</span>
              <span *ngIf="hasControlError('newPasswordGroup.newPasswordConfirm', 'minlength')"
                class="alert-danger">The password should at least be 6 digits!</span>
            </span>
          </div>

          <!-- newPasswordGroup Validation Message for Matching Passwords -->
          <span *ngIf="isControlInvalid('newPasswordGroup')">
            <span *ngIf="hasControlError('newPasswordGroup', 'noMatch')"
              class="alert-danger">The passwords must match!</span>
          </span>
        </div>

        <button class="btn btn-info" style="width: 50%" type="submit" [disabled]="forgotPasswordResetForm.invalid || forgotPasswordResetForm.pending">Save</button>
      </form>
    </div>
    <div *ngIf="isVerified === false" class="col-md-6">
      An error occurred. Check if your link is valid and try again.
    </div>
  </div>
</div>
