<div class="container faq">
  <div class="title">
    <p>FAQ</p>
  </div>
  <hr>
  <div class="accordion" matAccordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="panel-title">What is Shoely?</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Ecommerce is a complex business. Give me yo money</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="panel-title w-100">How can I contact you?</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Source code can be found in my GitHub page.</p>
      <p>If you want to contact me you can mail me at bori001&#64;e.ntu.sg</p>
    </mat-expansion-panel>
  </div>
</div>
