.address-container {
  min-height: 60vh;
  padding: 20px;
  background-color: #f8f9fa;
}

.form-title {
  font-weight: bold;
  color: black;
  font-size: 24px;
  margin-bottom: 10px;
}

hr {
  border-top: 2px solid #ccc;
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.form-group {
  padding: 0 15px;
  flex: 0 0 50%;
  box-sizing: border-box;
}

label {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.alert-danger {
  color: #d9534f;
  font-size: 12px;
  margin-top: 5px;
}

.controls {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.btn-info {
  padding: 10px 30px;
  font-size: 16px;
  border-radius: 8px;
  color: white;
  background-color: #17a2b8;
  border-color: #10707f;
  cursor: pointer;
}

.btn-info:disabled {
  opacity: 0.65;
  cursor: not-allowed;
}
